@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1 class="page-title">Gerenciamento do Usuario</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
        <li class="breadcrumb-item active">Sua Conta</li>
    </ol>
</div>

<div class="page-content">

    <!-- Painel -->
    <div class="panel">

        <div class="panel-heading">
            <h3 class="panel-title">[Nome da Pessoa]</h3>
        </div>
        <div class="panel-body container-fluid">

            <div class="row">
                <!-- Box da Esquerda-->
                <div class="col-lg-6 col-sm-12">
                    <h4 class="panel-title">Informações pessoais</h4>
                    <form action="javascript:void(0)" id="form-editar-usuario">

                        <!-- Começa Row -->
                        <div class="row">

                            <div class="col-xl-10 col-md-12 form-group">
                                <label for="campo-nome">Nome <span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="nome-usuario" id="campo-nome" />
                            </div>
                            <div class="col-xl-10 col-md-12 form-group">
                                <label for="campo-sobrenome">Email <span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="usuario-email" id="campo-email" />
                            </div>
                            <div class="col-xl-6 col-md-12 form-group">
                                <label for="campo-data-nascimento">Data de Nascimento <span style="color:red">*</span></label>
                                <input class="form-control" type="date" name="usuario-data-nascimento" id="campo-data-nascimento" />
                            </div>
                            <div class="col-xl-6 col-md-12 form-group">
                                <label for="campo-celular">Número de telefone<span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="usuario-celular" id="campo-celular" />
                            </div>

                            <div class="col-xl-6 col-md-12 form-group">
                                <label for="campo-senha">Senha</label>
                                <input type="tel" class="form-control" name="senha" id="campo-senha" value="" />
                            </div>
                            <div class="col-xl-6 col-md-12 form-group">
                                <label for="campo-conf-senha">Confirmar a Senha</label>
                                <input class="form-control" type="text" name="conf-senha" id="campo-conf-senha" value="" />
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-warning float-left btn-sm"
                                        data-target="#usuario-trocar-senha" id="botao-trocar-senha"
                                        data-toggle="modal">
                                    Trocar a senha
                                </button>
                            </div>
                        </div>

                        <!-- Termina Row -->
                    </form>
                </div>

                <!-- Box da direita-->
                <div class="col-lg-6 col-sm-12">
                    <h4 class="panel-title">Informações de Endereço</h4>
                    <form action="javascript:void(0)" id="form-editar-endereco">
                        <div class="row">

                            <div class="col-lg-3 form-group">
                                <label for="campo-cpf">CEP <span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="usuario-cep" id="campo-end-cep" />
                            </div>
                            <div class="col-lg-3 form-group">
                                <label for="campo-estado">UF <span style="color:red">*</span></label>
                                <select class="form-control" id="campo-end-estado" name="usuario-estado">
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="campo-cidade">Cidade <span style="color:red">*</span></label>
                                <select class="form-control" id="campo-end-cidade" name="usuario-cidade">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-10 form-group">
                                <label for="campo-bairro">Bairro <span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="usuario-bairro" id="campo-end-bairro" value="" />
                            </div>
                            <div class="col-lg-8 form-group">
                                <label for="campo-rua">Endereço <span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="usuario-rua" id="campo-rua" value="" />
                            </div>
                            <div class="col-4 form-group">
                                <label for="campo-numero">Número da residência <span style="color:red">*</span></label>
                                <input class="form-control" type="text" id="campo-end-numero" name="usuario-numero" />
                            </div>
                            <div class="col-8 form-group">
                                <label for="campo-complemento">Complemento <span style="color:red">*</span></label>
                                <input class="form-control" type="text" name="usuario-complemento" id="campo-end-complemento" value="" placeholder="Apartamento, Número de loja, etc." />
                            </div>
                        </div>
                        <!-- Termina Row -->
                    </form>
                </div>
            </div>


        </div>
    </div>


</div>