@{
    ViewData["Title"] = "Usuario";
}

<div class="page-header">
    <h1 class="page-title">Produtos</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
        <li class="breadcrumb-item active">Gerenciamento de Conta</li>
    </ol>
</div>

<div class="page-content">

    <!-- Painel -->

    <div class="panel-heading">
        <h3 class="panel-title">[Nome da Pessoa]</h3>
    </div>
    <div class="panel-body container-fluid">

        <div class="row">
            <!-- Box da Esquerda-->
            <div class="col-lg-6 col-sm-12">
                <h4 class="panel-title">Informações pessoais</h4>
                <form action="javascript:void(0)" id="form-editar-usuario">

                    <!-- Começa Row -->
                    <div class="row">

                        <div class="col-xl-10 col-md-12">
                            <label for="campo-nome">Nome <span style="color:red">*</span></label>
                            <input class="form-control" type="text" name="nome-usuario" id="campo-nome" />
                        </div>
                        <div class="col-xl-10 col-md-12">
                            <label for="campo-sobrenome">Sobrenome <span style="color:red">*</span></label>
                            <input class="form-control" type="text" name="sobrenome-usuario" id="campo-sobrenome" />
                        </div>
                        <div class="col-xl-6 col-md-12">
                            <label for="campo-data-nascimento">Data de Nascimento <span style="color:red">*</span></label>
                            <input class="form-control" type="date" name="usuario-data-nascimento" id="campo-data-nascimento" />
                        </div>
                        <div class="col-xl-6">
                            <label for="campo-celular">Número para contato <span style="color:red">*</span></label>
                            <input class="form-control" type="text" name="usuario-celular" id="campo-celular" />
                        </div>
                    </div>
                    <!-- Termina Row -->
                </form>
            </div>
            
            <!-- Box da direita-->
            <div class="col-lg-6 col-sm-12">
                <h4 class="panel-title">Informações de Endereço</h4>
                <form action="javascript:void(0)" id="form-editar-endereco">

                <!-- Começa Row -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 form-group">
                        <label for="campo-cpf">CEP <span style="color:red">*</span></label>
                        <input class="form-control" type="text" name="usuario-cep" id="campo-end-cep" />
                    </div>
                </div>
                <!-- Termina Row -->
                <!-- Começa Row -->
                <div class="row">
                    <div class="col-lg-4 col-md-5 form-group">
                        <label for="campo-estado">UF <span style="color:red">*</span></label>
                        <select id="campo-end-estado" name="usuario-estado">
                        </select>
                    </div>
                    <div class="col-lg-8 col-md-7 form-group">
                        <label for="campo-cidade">Cidade <span style="color:red">*</span></label>
                        <select id="campo-end-cidade" name="usuario-cidade">
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 form-control">
                    <label for="campo-bairro">Bairro <span style="color:red">*</span></label>
                    <input type="text" name="usuario-bairro" id="campo-end-bairro" value="" />
                </div>
                <div class="col-lg-8 col-md-12 form-group">
                    <label for="campo-rua">Endereço</label>
                    <input class="form-control" type="text" name="usuario-rua" id="campo-rua" value="" />
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <label for="campo-numero">Número da residência <span style="color:red">*</span></label>
                    <input class="form-control" type="text" id="campo-end-numero" name="usuario-numero"/>
                </div>
                <div class="col-lg-8 col-md-12 form-group">
                    <label for="campo-complemento">Complemento <span style="color:red">*</span></label>
                    <input class="form-control" type="text" name="usuario-complemento" id="campo-end-complemento" value="" placeholder="Apartamento, Número de loja, etc." />
                </div>
                <!-- Termina Row -->
                </form>
            </div>
        </div>


    </div>


</div>