<!--Modal de Cadastro-->
<div class="modal" tabindex="-1" role="dialog" id="cadastro-modal-estado">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar um novo Estado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="campo-nome-estado">Nome</label>
                            <input id="campo-nome-estado" placeholder="Nome do Estado" class="form-control" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="campo-sigla-estado">Sigla</label>
                            <input id="campo-sigla-estado" placeholder="Sigla do Estado" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success" name="notie-success" data-plugin="notie" data-type="success" data-text="Estado registrado com sucesso!" data-time="1.5" id="btn-cadastrar">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!--Fim Modal de Cadastro-->