
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h2 style="text-align:center;">Lista de Cidades</h2>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12">
        <button class="btn btn-primary float-right" id="abrir-modal-cadastro" style="margin-bottom: 15px;" data-toggle="modal" data-target="#cadastro-modal-cidade">Nova Cidade</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr style="text-align:center">
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Sigla do Estado</th>
                    <th width="25%">Ação</th>
                </tr>
            </thead>
            <tbody id="tabela-cidades" style="text-align:center"></tbody>
        </table>
    </div>
</div>

<partial name="ModalCadastroCidade.cshtml"/>
<partial name="ModalAlertApagarCidade.cshtml"/>

@section Scripts{
    <script src="~/js/cidade/cidade-index.js"></script>
}