<!--Modal de Cadastro-->
<div class="modal" tabindex="-1" role="dialog" id="cadastro-modal-cidade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar uma nova Cidade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="cadastro-cidade-form" action="javascript:void(0)">
                    <div class="form-row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="campo-nome-cidade">Nome</label>
                                <span class="text-danger">*</span>
                                <input id="campo-nome-cidade" name="nome" placeholder="Nome da Cidade" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="campo-estado">Estado</label>
                                <span class="text-danger">*</span>
                                <select id="campo-estado" name="estado" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-success" id="btn-cadastrar-cidade">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Fim Modal de Cadastro-->