
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/tema/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="/tema/global/vendor/aspieprogress/asPieProgress.css">
    <link rel="stylesheet" href="/tema/assets/examples/css/dashboard/ecommerce.css">
    <link rel="stylesheet" href="~/css/customizada/nav-menu-quadradinhos-estatistica.css">
    <link rel="stylesheet" href="~/css/customizada/row-quadradinhos-estatistica.css">

</head>
<body class="animsition ecommerce_dashboard">
    <!-- Page -->
    <div class="page-header">
        <h1 class="page-title font-size-26 font-weight-100">Estatistica</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
            <li class="breadcrumb-item active">Estatistica</li>
        </ol>
    </div>

    <div class="linha-quadradinhos-estatistica" id="cards-custom-loja">
        <!--
        [Pedido]
        [Rendimento]
        [Usuarios]
        [Produtos]
        Via JavaScript
        -->
    </div>

    <div class="col-lg-12" id="ecommerceRecentOrder">
        <div class="card card-shadow table-row">
            <div class="card-block bg-white table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Imagem</th>
                            <th>Produto</th>
                            <th>Cliente</th>
                            <th>Comprado Em</th>
                            <th>Status</th>
                            <th>N# Identificador</th>
                        </tr>
                    </thead>
                    <tbody id="tabela-conteudo-estatistica"></tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End Page -->

    <!-- Core  -->
    <script src="/tema/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="/tema/global/vendor/jquery/jquery.js"></script>
    <script src="/tema/global/js/Plugin/aspieprogress.js"></script>
    <script src="/tema/assets/examples/js/dashboard/ecommerce.js"></script>
    <script src="~/js/estatistica/index-dados-porcentagem.js"></script>
</body>
</html>
