.nav-tabs .nav-item.show .nav-link .nav-link.active .nav-corzinha-laranja {
    background-color: #eb6709 !important;
}

.nav-corzinha-vermelha .nav-link .active .show {
    background-color: #eb6709 !important;
}

.nav-tabs .nav-item.show .nav-link .nav-link.active .nav-corzinha-verde {
    background-color: #11c26d !important;
}


.nav-corzinha-azul .nav-link .active .show {
    background-color: #3e8ef7;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus
.navbar-default .navbar-nav > .active > .nav-corzinha-vermelha {
    color: transparent; /* <—– change your color here*/
    background-color: #eb6709;
}