@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/produto.css" />


<div class="page-header">
    <h1 class="page-title">Produtos</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item active">Produto</li>
    </ol>
</div>


<div class="page-content">
    <!-- Painel -->
    <div class="panel">

        <div class="panel-heading">
            <h3 class="panel-title">Lista de Produtos</h3>
        </div>
        <div class="panel-body container-fluid">

            <div class="row row-lg">
                <div class="col-12">

                    <button class="btn btn-primary float-left ml-1" data-target="#cadastro-modal-produto" id="botao-cadastrar-produto" data-toggle="modal"
                            type="button">
                        <i class="fa fa-plus"></i> Novo Produto
                    </button>
                    <div class="offset-10 col-lg-2">
                        <div class="form-group form-material floating" data-plugin="formMaterial">
                            <input class="form-control" type="text" id="buscar-produto" />
                            <label class="floating-label">Busca</label>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-20">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="10%">Imagem</th>
                                <th width="5%">Código</th>
                                <th>Nome</th>
                                <th width="10%">Preço</th>
                                <th width="15%">Categoria</th>
                                <th width="25%">Ação</th>
                            </tr>
                        </thead>
                        <tbody id="lista-produtos" class="text-center table-content"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="CadastroModalProduto.cshtml" />
<partial name="ModalDeletarAlerta.cshtml" />

@section Scripts{
    <script src="~/tema/global/js/Plugin/material.js"></script>
    <script src="~/js/produto/produto-index.js"></script>
    <script src="~/js/produto/validation-produto.js"></script>
    <script src="~/tema/assets/js/Modernizr/modernizr-custom.js"></script>
}