
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {

    <script src="~/js/Categoria/Categoria.js"></script>
}

<div>

    <div class="page-header">
        <h1 class="page-title">Categoria</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
            <li class="breadcrumb-item active">Categorias</li>
        </ol>
    </div>

    <div class="page-content">

        <!-- Painel -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Lista de Categorias</h3>
            </div>

            <div class="panel-body container-fluid">
                <div class="row">

                    <div class="example-wrap">

                        <div class="row offset-1">
                            <button class="btn btn-primary m-3" data-toggle="modal"
                                    data-target="#modalCadastroCategoria">
                                <i class="fas fa-plus"></i> Nova Categoria
                            </button>
                        </div>

                    </div>


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nome</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                      <tbody id="lista-categorias"></tbody>
                    </table>

                    <div class="col-md-6 col-lg-6">
                        <!-- Example Rounded Input -->
                        <div class="example-wrap">
                            <h4 class="example-title">Rounded Input</h4>
                            <input type="text" class="form-control round" id="inputRounded">
                        </div>
                        <!-- End Example Rounded Input -->
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <!-- Example Rounded Input -->
                        <div class="example-wrap">
                            <h4 class="example-title">Rounded Input</h4>
                            <input type="text" class="form-control round" id="inputRounded">
                        </div>
                        <!-- End Example Rounded Input -->
                    </div>

                </div>
            </div>
        </div>
        <!-- End Panel Form Elements -->

    </div>

</div>

<!-- Modal Cadastro Categoria -->

<div class="modal fade" id="modalCadastroCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">
                    Cadastro de Categoria
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="campo-nome">
                                Título
                            </label>
                            <input type="text" id="campo-nome"
                                   class="form-control" />
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"
                        id="categoria-botao-salvar">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>