
@{
    ViewData["Title"] = "ModalCadastroCategoria";
}

<!-- Modal Cadastro Categoria -->

<div class="modal fade" id="modalCadastroCategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLabel">
                    Cadastro de Categoria
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="javascript:void(0)" id="form-cadastro-categoria">
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="campo-nome">
                                    Título
                                </label>
                                <input type="text" id="campo-nome" name="nome"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"
                            id="categoria-botao-salvar">
                        <i class="fas fa-save"></i> Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>