<div class="modal fade" id="cadastro-modal-produto" aria-hidden="false" aria-labelledby="exampleFormModalLabel"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-simple">
        <form class="modal-content" id="form-cadastro-produto" action="javascript:void(0)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="exampleFormModalLabel">Produto</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12 form-group">
                        <input type="text" class="form-control" name="nome" id="campo-nome" placeholder="Nome do produto" required>
                    </div>
                    <div class="col-9 form-group">
                        <select id="campo-select-categoria" name="categoria" class="form-control">
                        </select>
                    </div>
                    <div class="col-xl-4 form-group">
                        <input type="text" class="form-control" name="preco" id="campo-preco" placeholder="Preço" required>
                    </div>
                    <div class="col-xl-4 form-group">
                        <input type="text" class="form-control" name="peso" id="campo-peso" placeholder="Peso" required>
                    </div>
                    <div class="col-xl-4 form-group">
                        <input type="text" class="form-control" name="cor" id="campo-cor" placeholder="Cor do produto">
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" rows="4" name="descricao" id="campo-descricao" placeholder="Descrição do produto"></textarea>
                    </div>
                    <div class="col-md-12 mt-20">
                        <button class="btn btn-primary btn-outline" id="botao-salvar-produto" type="button">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>