@{
    ViewData["Title"] = "Carrinho de Compras";
    Layout = "~/Views/Shared/_LayoutUsuario.cshtml";
}
@section Styles{

    <link rel="stylesheet" href="~/css/wizard/wizard.css" />
    <link href="~/tema/global/vendor/bootstrap-sweetalert/sweetalert.min.css" rel="stylesheet" />
}


<div class="page-header">
    <h1 class="page-title">Carrinho de Compras</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","UsuarioProduto")">Loja</a></li>
        <li class="breadcrumb-item active">Carrinho</li>
    </ol>
</div>

<div class="page-content">

    <!-- Painel -->
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Seus Produtos</h3>
        </div>
        <div class="panel-body container-fluid">

            <!-- Box de Compras-->
            <div class="row">
                <div class="col-xl-12 col-md-12">
                    <table class="table" id="tabela-carrinho">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div>
                <button class="btn btn-finalizar-pagamento btn-danger float-right"> <i class="fas fa-credit-card"></i> Finalizar Compra</button>
            </div>
        </div>
    </div>

    <!-- Termino do Painel -->


</div>


<partial name="FinalPagamento.cshtml" />

@section Scripts{
    <script src="~/tema/global/vendor/bootstrap-sweetalert/sweetalert.js"></script>
    <script src="~/tema/global/vendor/formvalidation/formValidation.js"></script>
    <script src="~/tema/global/vendor/formvalidation/framework/bootstrap.js"></script>
    <script src="~/js/carrinho-usuario/carrinho-usuario.js"></script>
    <script src="~/js/wizard/jquery-wizard.js"></script>
    <script src="~/tema/global/js/Plugin/jquery-wizard.js"></script>
    <script src="~/js/usuario/usuario-form-wizard.js"></script>
}


